{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Tictactoe game: {{ game.first_player }} vs. {{ game.second_player }}
{% endblock title %}


{% block styling %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <style type="text/css">
        .tictactoe-cell{
            background-color: #debb27;
        }
        #last-move{
            background-color: #DF6E1E;
        }
    </style>
{% endblock styling %}

{% block content %}
    <h3>Game: {{ game }}</h3>
    <div class="col-sm-9">

        <table class="table table-boarded" style="width: 60px; border-width: 2px">
            {% for line in game.as_board %}
            <tr>
                {% for square in line %}
                <td class="tictactoe-cell" style="width: 20px; height: 20px">
                    {{ square }}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% block moveform %}{% endblock moveform %}
    </div>
{% endblock content %}
