{% extends "tictacoe/game_detail.html" %}
{% load staticfiles %}

{% block styling %}
    {{ block.super }}
    <style type="text/css">
        .tictactoe-cell.empty:hover {
                background-color: #48CA3B;
                cursor: pointer;
        }

    </style>
{% endblock styling %}

{% block moveform %}
        {{ block.super }}
    <form action="" method="post">
        <!--{% csrf_token %}-->
        <!--{{ form.x.as_hidden }}-->
        <!--{{ form.y.as_hidden }}-->
        {% csrf_token %}
        {{ form }}

        <button type="submit">Submit!</button>
    </form>
{% endblock moveform %}
