{% extends 'base.html' %}

{% block content %}
<style>
ul {
    list-style: none;
    padding: 0;
    margin: 0 0 40px;
}

li {
    display: inline;
    margin: 0 10px;
}
</style>
<h4>You can find me in social networks:</h4>
<ul style="textdecoration: none">
    <li><a href="https://vk.com/vostrugo"><i class="fa fa-vk fa-2x" aria-hidden="true"></i></a></li>
    <li><a href="https://www.facebook.com/myonlygamess"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
    <li><a href="https://www.linkedin.com/in/vostrugo"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
</ul>

<p>Or you can mail me: <a href="#">alex.vostrugo@gmail.com</a><p>

<p>You can see code of this project on Github by clicking <a href="https://github.com/tyfoan/boardgames">here</a>.</p>
{% endblock %}
